{% include base_path %}
{% assign post = include.post %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p>
      [{{ include.index }}]
      <a href="{{ post.paperurl | default: post.url }}"><strong>{{ post.title }}</strong></a>，
      {{ post.authors | markdownify | replace: 'X. Ruan', '<strong>X. Ruan</strong>' | remove: '<p>' | remove: '</p>' }},
      <em>{{ post.venue }}</em>
      {% if post.volume %}{{ post.volume }}, {% endif %}
      ({{ post.date | date: "%Y" }})
      {% if post.pages %}{{ post.pages }}.{% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="btn btn--sm btn--primary" target="_blank">PDF下载</a>
      {% endif %}
    </p>

    {% if post.excerpt %}
      <blockquote style="margin-top: -0.5em; font-size: 0.95em; color: #555;">
        {{ post.excerpt }}
      </blockquote>
    {% endif %}

  </article>
</div>
