{% include base_path %}
<!--引入站点根路径 base_path，用于后续路径拼接-->

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}
<!-- 判断该文章是否设置了 teaser 图像，如果没有就用默认 teaser -->

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<!-- 为了处理 Markdown 中标题多余的 <p> 标签，做了清理 -->

<!-- 修改格式 -->
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p>
      [{{ include.index }}]
      <a href="{{ include.post.paperurl | default: include.post.url }}">
        <strong>{{ include.post.title }}</strong>
      </a>，
      {{ include.post.authors | markdownify | replace: 'X. Ruan', '<strong>X. Ruan</strong>' | remove: '<p>' | remove: '</p>' }},
      <em>{{ include.post.venue }}</em>
      {% if include.post.volume %}{{ include.post.volume }}, {% endif %}
      ({{ include.post.date | date: "%Y" }})
      {% if include.post.pages %}{{ include.post.pages }}.{% endif %}
      {% if include.post.paperurl %}
        <a href="{{ include.post.paperurl }}" class="btn btn--sm btn--primary" target="_blank">PDF下载</a>
      {% endif %}
    </p>

    {% if include.post.excerpt %}
      <blockquote style="margin-top: -0.5em; font-size: 0.95em; color: #555;">
        {{ include.post.excerpt }}
      </blockquote>
    {% endif %}

  </article>
</div>
